:root{
    --button-background: rgb(26, 152, 255);
}

.header{
    margin: 0 auto;
    width: 100%;
    padding: 0px 26px;
}

.headerContent{
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContentLeft{
    display: flex;
}

.headerContentRight{
    display: flex;
    gap: 8px;
}

.logoHeader{
    /* border: 1px solid red; */
    padding: 2px;
}

.logoHeader img{
    width: 70px;
    /* height: 20px; */
    /* padding: 8px; */
    margin-right: 18px;
}

.headerItensContainer{
    color: aliceblue;
}

.headerItensContainer ul{
    display: flex;
    list-style: none;
}

.headerItemMenuDrop{
    font-weight: 700;
    display: flex;
    align-items: center;
    height: 20px;
    position: relative;
}

.menuTrigger{
    display: none;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    position: relative;
}

.dropdownContent {
    display: flex;
    position: absolute;
    /* top: 92%; */
    /* left: 0; */
    background: rgba(19, 19, 19, 0.95);
    backdrop-filter: blur(10px);
    /* min-width: 200px; */
    border-radius: 8px;
    backdrop-filter: blur(5px); /* Efeito de desfoque no fundo */
    box-shadow: rgb(22, 22, 22) 0px 6px 24px 0px, rgba(28, 28, 28, 0.892) 0px 0px 0px 1px;
    margin-top: 5px;
    z-index: 1000;
}

#dropdownMenu{
    top: 92%;
    left: 0;
    min-width: 200px;
}

#dropdownlanguages{
    top: 10%;
    right: 0;
}

.dropdownContent ul {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

.dropdownContent li {
    padding: 12px 16px;
    color: #fff;
    transition: all 0.3s ease;
}

.dropdownContent li:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.menuTrigger:hover .dropdownContent {
    display: block;
}

.headerItemMenuDrop > li:hover{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
}

.headerItemMenuDrop li svg {
    transform: rotate(0deg); 
    transition: transform 0.3s ease; 
}

.headerItemMenuDrop li:hover svg {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.headerItens{
    display: flex;
    align-items: center;
    list-style: none;
    height: 20px;
    gap: 24px;
}

.headerItens li{
    font-weight: 700;
    padding: 8px;
}

.headerItens li:hover{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.headerLogin{
    display: flex;
    gap: 16px;
}

.avatarContainer{
    display: flex;
    align-items: center;
    gap: 8px;
}

.changeLanguageButton{
    border: 2px solid red;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 8px;
}

.changeLanguageButtonContent{
    display: flex;
    color: #fff;
}

.avatarLogin {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 40px;
}

.buttonLogin{
    width: 92px;
    height: 36px;
    background: var(--button-background);
    box-shadow: 0 -4px 16px 0 rgba(var(--button-background,255,255,255),.2);
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.buttonLogin:hover{
    box-shadow: 0px 0px 20px 0px rgba(74, 145, 226, 0.815);
    cursor: pointer;
}

@media (max-width: 957px) {
    .menuTrigger{
        display: flex;
    }

    .headerItens {
        display: none;
    }

    .menuTrigger svg:hover{
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }

    .headerContentLeft {
        justify-content: space-between;
        width: 100%;
    }

    .headerItemMenuDrop {
        margin: 0 auto;
    }

    .dropdownContent {
        left: 50%;
        transform: translateX(-50%);
        min-width: 250px;
    }
}